@charset "UTF-8";
/* #sideNav */
#sideNav {
    padding-top: 20px;
    width: 100%;
    height: 0;
    position: absolute;
}

.lr_nav {
    width: 100%;
    height: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: relative;
}

#scroll_left,
#scroll_right {
    margin: 0;
    z-index: 5;
}

#scroll_left {
    border: none;
    width: 200px;
    height: 900px;
    position: relative;
    left: 0;
}

#ad1,
#ad2 {
    position: absolute;
}

#scroll_left img {
    width: 200px;
    height: 900px;
}

#left_scroll_btn {
    width: 50px;
    height: 50px;
    left: 200px;
    position: absolute;
    top: 420px;
    font-size: 2rem;
    border: none;
    z-index: 20;
    background: #951;
   	color: #fff;
   	box-shadow: 2px 2px 5px #731;
}

.fix_btn {
    top: 420px;
}

.fixed_btn {
    top: 400px;
}

#scroll_right {
    border: 1px solid #ccc;
    right: 0;
    width: 150px;
    height: 703px;
}

.right_banner,
.quick_btn_cart,
.scroll_right_cont,
.go_QnA,
.go_review {
    width: 150px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.right_banner {
    background: #B1CE57;
}

.quick_btn_cart {
    height: 150px;
    background: #fff;
}

.scroll_right_cont {
    height: 400px;
    background: #f8f8f8;
    padding: 20px 25px;
    position: relative;
}

.scroll_right_cont div p {
    font-size: 0.8rem;
    color: #999;
}

.justview {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    background: #000;
}

.justview .justview_pic {
    width: 100px;
    height: 100px;
}

.go_QnA,
.go_review {
    border-top: 1px dotted #ccc;
    background: #fff;
}

.go_top_bottom {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 750px;
    right: 50px;
}

.go_top_bottom button {
    border: none;
    width: 50px;
    height: 50px;
    background: #B1CE57;
    border: 1px solid #fff;
}

#go_bottom {
    transition: opacity 0.5s ease-in-out;
}

.fadeOut {
    opacity: 0;
}

.fadeIn {
    opacity: 1;
}